{% extends "layout.html" %}
{% block content %}
	<form action="{{ url_for('verb.verb', verb=verb ) }}" method="post">           <!-- submit 되면 동사 라우팅이 호출되고 제출을 누를때 맞으면 홈 이동,, 그냥 누르면 다른 걸로 바뀜 -->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">
                    {% for i in range(r_n) %}
                    <span class="badge badge-pill badge-light"> {{rd_sen[i] }}</span> 
                    {% endfor %}</a> <!-- mr = margin right 2 -->
                    <small class="text-muted">Sentence order</small>
                </div>
                <h2><a class="article-title" href="#"></a></h2>
                {{ input_form.sentence_input(class="article-content") }}
                <p class="article-content"></p>
                <input class="btn btn-primary" type="submit" value="Submit">
                <a class="btn btn-primary" href="/verb">Next</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Answer
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ verb }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {{ sen }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </article>
    </form>
    <article class="media content-section1">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2">English would be easier if you know this - {{ verb }}</a>
                    <span class="badge badge-pill badge-light"></span>
                    <p></p>
                    {% if meaning == None: %}
                    <a class="mr-2" href="https://dictionary.cambridge.org/dictionary/english/">사전</a>
                    {% else %}
                    <small class="text-muted">Meaning : {{ meaning }}</small>  <!-- # 연월일 만 display -->
                    {% endif %}
                </div>
                <h2><a class="article-title" href="#"></a></h2>
                <p class="article-content-d">{{ exp1 }}</p>
            </div>
        </article>
{% endblock content %}
