{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">Welcome
                    <span class="badge badge-pill badge-light">How are you doing?</span>
                    </a> <!-- mr = margin right 2 -->
                    <small class="text-muted">Home</small>
                </div>
                <h6><a class="article-title" href="#">1. 단어 순서 맞추기</a></h6>
                <p></p>
                <p></p>
                <h6><a class="article-title" href="#">2. 단어 설명</a></h6>
                <p class="article-content"></p>
                <h5><a class="article-title" href="/verb">Study verbs</a></h5>
            </div>
        </article>
            <article class="media content-section1">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2">Choose a verb from the list below</a>
                    <span class="badge badge-pill badge-light"></span>
                    <small class="text-muted"></small>  <!-- # 연월일 만 display -->
                </div>

                <form action="{{ url_for('verb', verb=verbs[i] ) }}" method="post">                                  <!-- 링크 선택시의 단어를 url을 통해 전송함 변수 i 가 있기에 for loop 안 -->
                {% for i in range(n) %}
                {% if verbs[i] in ['last', 'One_thing', 'how_easy', '문장1_시간접속사_문장2', 'degree'] %}
                <a class="badge badge-pill badge-warning" href="/verb/{{ verbs[i] }}">  {{ verbs[i] }}  </a>
                {% else %}
                <a class="badge badge-pill badge-info" href="/verb/{{ verbs[i] }}">  {{ verbs[i] }}  </a>
                {% endif %}
                {% endfor %}
                </form>
                <p class="article-content"></p>
            </div>
        </article>

{% endblock content %}
